<h1>{{title}}</h1>
<nav>
  <ul>
    <li><a [routerLink]="['/mfe1']">Mfe1</a></li>
    <li><a [routerLink]="['/remote']">Mfe1 Remote</a></li>
    <li><a [routerLink]="['/web-components']">Web Component</a></li>
  </ul>
</nav>

<h2>Sub Application: routing</h2>
<code>
  Vous voyez comment le routing charge des sous applications.
  Attendez de voir comment charger les composants dynamiquement.
  &lt;router outlet/&gt;

<router-outlet />
</code>
<h2>Component </h2>
<h3>Load as HTML Tag div#container</h3>
<code>
  Bon la c'est fait à l'ancienne mais ça fonctionne. On va utiliser ng-dynamic-component pour charger les composants dynamiquement.
  ViewChild
  container!: ViewContainerRef;
</code>

<div #container></div>
<h3>Loaded with Ng Dynamic component</h3>
<code>Ici j'utilise diectement &lt;ndc-dynamic &gt; issu de ng-dynamic-component</code>
<ndc-dynamic [ndcDynamicComponent]="mfeEurrentComponent"  [ndcDynamicInputs]="{remoteInput:'ng-dynamic-component vient de me charger'}" ></ndc-dynamic>

<h3>Simple include of hello world component</h3>
<code>Ici j'utilise diectement &lt;hello-world&gt; 2 fois de suite</code>
<div style="width:150px; display:flex; justify-content: space-around">
  <hello-world></hello-world>
  <hello-world></hello-world>
</div>

<!--<h3>Dynamic Component</h3>
<ndc-dynamic
  [ndcDynamicComponent]="currentComponent"
  [ndcDynamicInputs]="inputs"
  [ndcDynamicOutputs]="{
  onSomething: { handler: doSomething, args: ['$event'] }
      }"
></ndc-dynamic>
<button (click)="changeComponent('first')">Afficher le premier composant</button>
<button (click)="changeComponent('second')">Afficher le second composant</button>
-->
